[submodule "sunpassy"]
	path = sunpassy
	url = git@github.com:ericwolter/sunpassy.git
[submodule "apple-healthkit-csv"]
	path = apple-healthkit-csv
	url = git@github.com:ericwolter/apple-healthkit-csv.git
