[submodule "sunpassy"]
	path = sunpassy
	url = https://github.com/ericwolter/sunpassy.git
[submodule "apple-healthkit-csv"]
	path = apple-healthkit-csv
	url = https://github.com/ericwolter/apple-healthkit-csv.git
