extends /layout.pug
block variables
    - var page = 'p-app'
    - var title = 'Stromlampe - EDL21 Stromzähler'

block scripts
  link(rel='stylesheet', href='/css/projects/stromlampe/style.css')

block content
  #description
    h1
      img#icon(src="/img/projects/stromlampe/icon.png", alt="stromlampe icon")
      | Stromlampe
    p Kleiner Helfer für deine moderne Messeinrichtung.
    p PIN Eingabe leicht gemacht!
    a(href="https://apple.co/2Mz3r2y" style="display:inline-block;overflow:hidden;background:url(/img/appstore/Download_on_the_App_Store_Badge_DE_RGB_wht_092917.svg) no-repeat;background-size:contain;width:150px;height:50px;margin-top: 12px;")
  img#phone(src="/img/projects/stromlampe/screenshot0.png")

block footer
  footer
    a(href="/privacy/stromlampe") Datenschutz