:root {
  --background-color: rgb(250, 250, 250);
  --text-color: rgba(10, 10, 10, 0.8);
  --accent-color: rgba(147, 95, 72, 1.0);
  --header-background-color: rgba(250, 250, 250, 0.9);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

#banner {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--header-background-color);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  margin: 0 8px;
}

#content {
  margin: 0 8%;
}

#about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -72px;
}

#about .cta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

#projects {
  max-width: 800px;
  margin: 0 auto;
  scroll-margin-top: 80px;
}

#projects .project-grid {
  display: grid;
  gap: 48px;
  margin-top: 32px;
  margin-bottom: 80px;
}

#archive .project-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.project {
  position: relative;
  padding: 40px 40px 50px 30px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.project svg {
  float: right;
}

#featured .project-link.web.small {
  height: clamp(20px, 4vw, 20px);
  vertical-align: bottom;
}

#featured .project-link.web {
  margin-left: 8px;
  height: clamp(40px, 4vw, 40px);
}

#archive .project-link.web.small {
  height: clamp(15px, 2vw, 15px);
}

#archive .project-link.web {
  margin-left: 4px;
  height: clamp(25px, 2vw, 30px);
}

.project footer {
  position: absolute;
  right: 20px;
  bottom: 16px;
}
