a {
  border: 0;
  background: 0;
  color: var(--accent-color);
  cursor: pointer;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

#banner {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--header-background-color);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  margin: 0 8px;
  padding: 0;
}

.main-navigation a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}

#logo {
  font-size: 16px;
  width: 32px;
  height: 32px;
  line-height: 2em;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  outline: 0;
  transition: 0.2s ease;
  display: inline-block;
  position: relative;
  background-color: var(--accent-color);
  color: var(--background-color);
}

#content {
  margin: 0 8%;
}

#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;

  max-width: 1000px;
  margin: 0 auto;
  margin-top: -72px;
}

#about h1 {
  font-size: clamp(32px, 8vw, 64px);
  font-weight: 600;
  line-height: 1.1;
  color: var(--highlight-text-color);
  margin: 0;
  margin-top: 16px;
}

#about h2 {
  font-size: clamp(32px, 8vw, 64px);
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  margin-top: 8px;
}

#about h3 {
  color: var(--accent-color)
}

#about svg {
  width: 24px;
  height: 24px;
}

#about svg path {
  fill: var(--accent-color);
  fill-opacity: 1;
}

#about p {
  margin-top: 32px;
}

#about .cta {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px 20px;
}

#about .button {
  display: inline-block;
  position: relative;
  padding: 20px 28px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px var(--accent-color);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#about .button:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
}

#about .button:active {
  transform: translate(6px, 6px);
  box-shadow: none;
}

#about .button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: 4px;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

@keyframes subtle-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.bouncing-arrow {
  display: inline-block; /* Ensures transform works correctly */
  animation: subtle-bounce 4s infinite;
  color: var(--accent-color);
}

#projects {
  max-width: 800px;
  margin: 0px auto;
  scroll-margin-top: 80px; 
}

.project-grid a {
  color: var(--text-color);
  text-decoration: none;
}

#projects .project-grid {
  display: grid;
  grid-gap: 48px;
  margin-top: 32px;
  margin-bottom: 80px;
}

#archive .project-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.project {
  position: relative;
  padding: 40px 40px 50px 30px;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px var(--accent-color);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.project:active {
  transform: translate(6px, 6px);
  box-shadow: none;
}

.project svg {
  float: right
}
#featured .project-link.web.small {
  height: clamp(20px, 4vw, 20px);
  vertical-align: bottom;
}
#featured .project-link.web {
  margin-left: 8px;
  height: clamp(40px, 4vw, 40px);
}
#archive .project-link.web.small {
  height: clamp(15px, 2vw, 15px);
}
#archive .project-link.web {
  margin-left: 4px;
  height: clamp(25px, 2vw, 30px);
}

.project footer {
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.project-link.web path {
  fill: var(--accent-color);
  fill-opacity: 1;
}

.project header a {
  color: var(--highlight-text-color)
}

.project h5 {
  font-family: 'Fira Mono';
  font-size: 13px;
  font-weight: 400;
  
  margin: 0;

  color: var(--accent-color);
}
.project h4 {
  font-size: 20px;
  font-weight: 600;
  
  margin: 0;
}

.project h4:hover {
  color: var(--accent-color);
}

#archive .project {
  font-size: clamp(14px, 2vw, 16px);
}
#archive .project h4 {
  font-size: clamp(16px, 2vw, 20px);
}
#archive .project h5 {
  font-size: clamp(11px, 2vw, 13px);
}

#projects article h2 {
  font-size: clamp(24px, 5vw, 32px);
  font-weight: 600;
  line-height: 1.1;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}