block variables
doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    - var safeTitle = title ? title : "Eric Wolter"
    title= safeTitle

    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='https://code.cdn.mozilla.net/fonts/fira.css')
    block scripts

  body(id=page)
    block content

  block footer
    footer
      a(href="/impressum/") Impressum & Datenschutz