{% set safeTitle = title or "Eric Wolter" %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ safeTitle }}</title>
    <link rel="stylesheet" href="/css/style.css">
    {% block scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block footer %}
      <footer>
        <a href="/impressum/">Impressum &amp; Datenschutz</a>
      </footer>
    {% endblock %}
  </body>
</html>
