block variables
doctype html
html(lang='en')

  head
    script(data-ad-client='ca-pub-5717136270400903' async='true' src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script(async='true' src="https://www.googletagmanager.com/gtag/js?id=UA-42589062-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42589062-1');

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    - var safeTitle = title ? title : "Eric Wolter"
    title= safeTitle

    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='https://code.cdn.mozilla.net/fonts/fira.css')
    block scripts

  body(id=page)
    block content

  block footer
    footer
      a(href="/impressum/") Impressum & Datenschutz